/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}*/
*{
	box-sizing: border-box;
}
body {
	width: 100%;
	height:100%;
	line-height: 1.5;
	position: relative;
	z-index: 9;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Reset, body styles
--------------------------------------- */
html {
		width: 100%;
  	font-family: 'Noto Sans', sans-serif;
		height: 100%;
		padding: 0;
		margin: 0 auto;
		position: relative;
	}

h1,h2,h3,h4{
	font-family: 'Cabin', sans-serif;

}
h5,h6{

	font-family: 'Racing Sans One', sans-serif;
}
.content-wrap{
		position: relative;
		height:100%;
		z-index: 999999;
		width:100%;
}

@media only screen and (max-width: 500px){
	/*.content-wrap{
		width: 100%;
		height: auto;
	}*/
}

a{
	color: slategray;
	cursor: pointer;
	text-decoration:none;
	text-align: center;
}

.shadow{
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.45);
}

.bold{
	font-weight: bold;
}
*,
*:after,
*::before {
	box-sizing: border-box;
}

/* header styles
* --------------------------------------- */

@media only screen and (min-width: 1200px){

	h1{
		font-size: 6em;
	}
	h2{
		font-size: 4em;
	}
	h3{
		font-size: 3em;
	}
	h4{
		font-size: 2.5em;
	}
	p{
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 800px){

	h1{
		font-size: 4em;
	}
	h2{
		font-size: 3em;
	}
	h3{
		font-size: 2em;
	}
	h4{
		font-size: 1.5em;
	}

}


@media only screen and (min-width: 480px){
h1{
	font-size: 2.25em;
	}
h2{
	font-size: 2em;
	}
h3{
	font-size: 1.75em;
	}
h4{
	font-size: 1.5em;
	}

}

@media only screen and (min-width: 320px){
	h1{
		font-size: 2em;
		}
	h2{
		font-size: 1.75em;
		}
	h3{
		font-size: 1.5em;
		}
	h4{
		font-size: 1.25em;
		}
	p{
		line-height: 1.8;
		font-size:0.8em;
	}

}
/*header styles*/
.header{
	width: 100%;
	top: 0;
	position: fixed;
	height: 3em;
}
.header-title{
	color: #E6E8E6;
	height: auto;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: 80000;
}
.nav{
	align-items: center;
	justify-content: space-around;
	width: 100%;

	z-index: 500;
	display: flex;
	position: fixed;
}
.nav a{
	text-transform: uppercase;
	/*border: 2px solid #3F403F;*/
	background-color: inherit;
	letter-spacing: 2px;
	padding: 1em 2em;

}
@media only screen and (max-width:650px){
	.header{
		position: relative;
		z-index: 50;
		width: 100%;
	}
	.header-title{
		color: #3F403F;
		position: relative;
		z-index: 500;
		}
}
@media only screen and (max-width:480px){
		.header{
			position: fixed;
			z-index: 15;
			height: 3em;
			width: 100%;
			background-color: #CED0CE;
			/*background-color: #ededed;*/
			display: block;
			-webkit-align-items:center;
			-ms-flex-align:center;
			align-items:center;
			top: 0;
		}
		.header-title{
			color: rgb(247, 247, 247);
			text-shadow: 1px 2px 2px #a2a2a2;
			z-index: 10;
			margin: 0 auto;
			text-align: center;
      height: auto;
		}
		.nav{
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 100%;
			position: relative;
			z-index: 500;
			height: 80vh;
			flex-direction: column;
			background-color: rgb(50, 59, 84);

		}
		.nav a{
			padding: 1em 1.5em;
			margin-top: 7px;
			width: 180px;
			align-self: center;
			background-color: rgb(188, 198, 209);
			-webkit-box-shadow: 0px 10px 12px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 10px 12px -1px rgba(0,0,0,0.75);
      box-shadow: 0px 10px 12px -1px rgba(0,0,0,0.75);
		}
	}
/*end header styles*/


/*about section*/
.about{
	width: 100%;
	height: 80vh;
	position: relative;
	z-index: 5;
}
/*end about section*/

.srvcs{
	height: 80vh;
	width: 100%;
	position: relative;
	z-index: 3;
	background-color: #CED0CE;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow:space-around;
	-ms-flex-flow:space-around;
	flex-flow:space-around;
	vertical-align: middle;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	color: #3F403F;
}

@media only screen and (max-width:480px){
	.srvcs{
		height: auto;
		color: #3F403F;
		background-color: #ededed;
		position: relative;
		z-index: 8;
		padding: 2em 1em;
		width: 100%;
		margin-bottom: 8em;
	}
}

/*about section styles*/

.dev{
	position: relative;
	width:100%;
	margin: 0 auto;
	padding: 0 1em;
	display: flex;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: auto;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
  flex-wrap: wrap;

}
.dev{
	z-index: 40;
	position: relative;
	width:100%;
	color: #CED0CE;
	padding-bottom: 3em;
	display: none;
	background-color: #1976D2;
}
.dev h4{
	text-align: center;
	background-color: #4e93d7;
}
.dev:before{
	content: '';
	position: absolute;
	left: 0;
	top: -32px;
	/*top: 0;*/
	width: 100%;
	right: 0;
	height: 12em;
	background: inherit;
	-webkit-transform: skewY(7.5deg);
	transform: skewY(7.5deg) translateY(-10px);
	z-index: -1;
}
.dev:after{
	content: '';
	position: absolute;
	left: 0;
	top: -32px;
	width: 100%;
	right: 0;
	height: 12em;
	background: inherit;
	-webkit-transform: skewY(-7.5deg);
	transform: skewY(-7.5deg) translateY(-10px);
	z-index: -1;
}

@media only screen and (max-width:480px){
	.content{
		z-index: 8;
		display: block;
		position: relative;
		height: auto;
		padding: 2em 0;
		background-color: inherit;
		margin-right: auto;
		margin-left: auto;
		width: 280px;
		}
		article:last-of-type{
			margin-bottom: 20vh;
		}
}


.inbound{
	z-index: 6;
	position: relative;
	width:100%;
	height:80vh;
	color: #2e2e2e;
	margin: 0 auto;
	padding: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-ms-flex-line-pack: center;
	-webkit-align-content: center;
	align-content: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	/*background-color: #f5faf5;*/
	background-color: #9FB8AD;
}

@media only screen and (max-width: 480px){

	section:before{
		content: '';
  	position: absolute;
  	left: 0;
  	top: -32px;
  	/*top: 0;*/
  	width: 100%;
  	right: 0;
  	height: 12em;
  	background: inherit;
  	-webkit-transform: skewY(7.5deg);
		transform: skewY(7.5deg) translateY(-10px);
		z-index: -1;
	}
	section:after{
		content: '';
  	position: absolute;
  	left: 0;
  	top: -32px;
  	width: 100%;
  	right: 0;
  	height: 12em;
  	background: inherit;
  	-webkit-transform: skewY(-7.5deg);
  	transform: skewY(-7.5deg) translateY(-10px);
		z-index: -1;
	}
	.inbound{
		z-index: 5000;
		position: relative;
		width:100%;
		display: none;
		height:auto;
		background-color: #9FB8AD;
		color: #3F403F;
	}

  .content h4{
		opacity: .5;
	}
}


/*work section styles*/
.work-section{
	z-index: 90;
	position: relative;
	width:100%;
	height:100%;
	background-color: #E6E8E6;
	margin: 0 auto;
	padding: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: center;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-item-align: center;
	-webkit-align-self: center;
	align-self: center;
}
.hide{
	display: none;
}

.work-content{
	max-width: 300px;
	height: 250px;
	position: relative;
	z-index: 500;
	color: #eee;
	margin: 20px;
	padding: 0;
	background-color: #777;
	transition: all .3s;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-item-align: end;
	-webkit-align-self: center;
	align-self: center;
	cursor: pointer;
}

.work-content p{
	-ms-flex-item-align: end;
	-webkit-align-self: flex-end;
	align-self: flex-end;
	color: #777;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.work-content:hover{

	background-color: #E6E8E6;
	color:#333;

}


@media only screen and (max-width:650px){

.work-content{
	width: 280px;
	height: 200px;
	position: relative;
	z-index: 500;
	color: #eee;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background-color: #777;
	transition: all .3s;
}
.work-content:hover{

	background-color: #E6E8E6;
	color:#333;

}
.work-content p{
	-ms-flex-item-align: end;
	-webkit-align-self: flex-end;
	align-self: flex-end;
	color: #777;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	}

}

@media only screen and (max-width: 480px){
	.work-section:before{
		content: '';
  	position: absolute;
  	left: 0;
  	top: -32px;
  	width: 100%;
		right: 0;
  	height: 12em;
  	background: inherit;
  	-webkit-transform: skewY(-15deg);
		transform: skewY(15deg) translateY(-10px);
		z-index: 5;
	}
	.work-section:after{
		content: '';
  		position: absolute;
  		left: 0;
  		top: -32px;
  		width: 100%;
  		right: 0;
  		height: 12em;
  		background: inherit;
  		-webkit-transform: skewY(-15deg);
  		transform: skewY(-15deg) translateY(-10px);
		z-index: 5;

	}
	.work-content{
		width: 350px;
		height: 300px;
		position: relative;
		z-index: 500;
		color: #eee;
		margin: 1em auto;
		padding: 0;
		background-color: #777;
		transition: all .3s;
	}
	.work-section{
		display: none;

	}
	.work-section-intro{
		text-align: center;
		height: 55px;
		width: 100%;
		color: #3F403F;
		background-color: #E6E8E6;
		z-index: 6;
		position: relative;
	}
}
/*end work style*/


.footer{
	width: 100%;
	height: 40%;
	color: #E6E8E6;
	position: fixed;
	bottom: 0;
	z-index: 2;
	/*background-color: #3F403F;*/
	background-color:rgba(34, 34, 34, 0.76);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items:flex-end;
	-ms-flex-align:end;
  flex-direction: row;
}

.footer button{
	background-color:#E6E8E6;
	text-transform: uppercase;
	border:2px solid  #3F403F;
	width: 30%;
	position: relative;
	z-index: 100;
	color: #3F403F;
	display: inline;
	float: left;
}
.fnav{
	height: auto;
	display: flex;
	align-items: center;
}
.fnav a {
	border-radius: 100%;
	border: 2px solid white;
	width: 80px;
	height: 80px;
}
/*#codepen{
	background-color: rgb(10, 111, 17);
	color: inherit;
	transition: all 0.3s ease-in-out;
}*/
.fnav a:hover{
	transition: all 0.3s ease-in-out;
	background-color: #fff;
	color: red;
}
.footer ul li{
	margin: 2em 0;
}

@media only screen and (max-width: 500px) {

.footer{
	width: 100%;
	height: 8em;
	color: #E6E8E6;
	position: fixed;
	bottom: 0;
	z-index: 2;
	background-color: #3F403F;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	width: 100%;
	align-items: flex-end;

}

.footer a{
  padding: .5em;
}
footer p{
	flex-grow:5;
	position: fixed;
  right: 0;
	margin-bottom: 0;
	align-self: flex-end;
	bottom: 0;
	vertical-align: bottom;
}
}
