/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*{
  box-sizing: border-box;
}

body {
  background-color:#f7f7f7;
  color: #424242;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  line-height: 1.6;
  position: relative;
  z-index: 1;
}


ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a{
  text-decoration:none;
  color: #ffd700;
  font-size: 100%;

}

/*Reset, body styles
--------------------------------------- */

@font-face{
  font-family: "Overpass";
  src: url("../fonts/Overpass_Regular.ttf");
}

@font-face{
  font-family: "Overpass Light";
  src: url("../fonts/Overpass_Light.ttf");
}

@font-face{
  font-family: "Overpass Extra Light";
  src: url("../fonts/Overpass_ExtraLight.ttf");
}

@font-face{
  font-family: "Overpass Bold";
  src: url("../fonts/Overpass_Bold.ttf");
}

h1,h3{
  font-family: 'Overpass Bold', sans-serif;
}

h2,h4{
  font-family: 'Overpass', sans-serif;
}

/* header styles
* --------------------------------------- */

@media only screen and (min-width:801px){
h1{
  font-size: 3.5em;
}
h2{
  font-size: 3em;
}
h3{
  font-size: 2.5em;
}
h4{
  font-size: 2.5em;
}
p{
  font-size: 1.5em;
}
}

@media only screen and (max-width: 800px){
h1{
  font-size: 4em;
}
h2{
  font-size: 3em;
}
h3{
  font-size: 2em;
}
h4{
  font-size: 1.5em;
}
}

@media only screen and (max-width: 480px){
h1{
  font-size: 2.25em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.75em;
}
h4{
  font-size: 1.5em;
}

}


/*header styles*/

.head__home{
  width: auto;
  height: auto;
  z-index: 2;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

@media only screen and (max-width: 800px){

header {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 7;
  max-width: 300px;
  margin-right: auto;
  padding-top: 20vh;
}
}

@media only screen and (min-width: 801px){

.head--title{
  position: relative;
  z-index:5;
  width:100%;
  height:100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #777;
  text-shadow: 1px 2px 2px #a2a2a2;
  z-index: 10;
  padding: 2em;
  text-align: center;
  height: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

}

.icon {
  display: inline-block;
  height: 2em;
  width: 2em;
  fill: #343434;
  transition: all 0.4s ease-in-out;
//  box-shadow: 0px 5px 4px 0px rgba(255, 250, 233, 0.9);
}

.icon-sm{
  display: inline-block;
  height: 2em;
  width: 2em;
  fill: #ffe66d;
}

@media only screen and (max-width: 500px){

.icon-sm{
  display: inline-block;
  vertical-align: middle;
  height: 1.2em;
  width: 1.2em;
  fill: #ffe66d;
}
}


.social-icon{
  border: 1px solid #999;
  border-radius: 100%;
  height: 4em;
  width: 4em;
  padding: 1em;
}

@media only screen and (max-width:500px){

.sidebar{
  width: 40px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  height: 100%;
  float: left;
  overflow-y: hidden;
  background-color: #d7d7d7;
  box-shadow: 2px 0px 5px 0px rgba(50,50,50,0.75);
}

ul {
  width: 40px;
  height: 100%;
  top: 25%;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 5;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  text-transform: uppercase;
  height: auto;
  width: auto;
  margin-left:5px;
  padding: 0;
  margin-top: 3em;
}

li a {
  display: block;
  height: auto;
}

label{
  display: none;
  }
}

.wrap{
  padding: 0px 20px;
  margin-top: 45px;
}

.head{
 padding: 0 0 30px; 
}


@media only screen and (max-width: 800px){

.wrap{
  height:100%;
  width: auto;
  position:relative;
  z-index:3;
  margin-left: 35px;
  margin-right: 5px;
  background-color: inherit;
  }

}

label{
  opacity: 0;
  transition: all 0.4s ease-in-out;
  left: -10px;
  color: #777;
  font-family: overpass bold;
}

@media only screen and (min-width: 501px){

nav a{
  transition: all 0.4s ease-in-out;
}

.sidebar{
  background-color: #d7d7d7;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 99;
}

.sidebar ul{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

nav a:hover label{
  position: relative;
  opacity: 0.7;
  left: 0;
  transition: all 0.4s ease-in-out;
}

nav a:hover .icon{
  fill: lightskyblue;
  transition: all 0.4s ease-in-out;
  
}

}


/*end header styles*/


/*end about section*/

.content{
  color:#343434;
  background-color:#f7f7f7;
}

.icon-linkedin:hover{
  fill: #0077b5;
  transition: all 0.4s ease-in-out;
}

.icon-dropbox:hover{
  fill: #007ee5;
}

.about-links{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 20vh;
}

section{
  position:relative;
  z-index:5;
  width:100%;
  height: 100%;
  max-width: 650px;
}

@media only screen and (max-width:800px){

section{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.content{
  z-index: 8;
  position: relative;
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 6em;
}

.projects{
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 5;
  position: relative;
  background-color: #f7f7f7;
  margin-bottom: 2em;
}

.project{
  height: auto;
  width: auto;
  padding: 10px 0;
  margin-top: 10px;

}

.contact{
  font-size: 70%;
  margin-top: 4em;
}

.contact a{
  color: #003366;
 }

.icons{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 4em;
  width: 100%;
}

}

.contact{
  justify-content: space-around;
  text-align: center;
}

.contact a{
  color: #003366;
  margin-right: 2em;
}

.projects{
  max-width: 650px;
}

.icons{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 4em;
  width: 100%;
}

.email{
  background-color: lightblue;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.email:hover{
  color:lightskyblue;
  background-color: #f7f7f7;
  transition: all 0.4s ease-in-out;
}

/*work section styles*/


.work-content:hover{
  background-color: #E6E8E6;
  color:#333;
}


footer{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  color: #d7d7d7;
  position: fixed;
  bottom: 0;
  z-index: 2;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:flex-start;
  -ms-flex-align:start;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}


.foottag{
  text-align: center;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media only screen and (max-width: 500px) {

footer{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  color: #d7d7d7;
  position: fixed;
  bottom: 0;
  z-index: 3;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:flex-start;
  -ms-flex-align:start;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
}

.footemail{
  padding: .5em;
  color: #f7f7f7;
  top:0;
  text-align: center;
}

.foottag{
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  bottom: 0;
  vertical-align: bottom;
  z-index: 3;
  }
}

.hide{
display: none;
}

